{% load url from future %}
{% load knowledge_base_tags %}
<dl>
    <dt>Title</dt><dd><a target="_blank" href="{% url 'file_resource_previous_version_download' current_version_pk=object.current_version.pk pk=object.pk %}">{{ object.current_version.title }}</a></dd>
    <dt>Description</dt><dd>{{ object.current_version.description }}</dd>
    <dt>Author</dt><dd>{{ object.author.get_full_name }}</dd>
    <dt>Last Updated</dt><dd>{{ object.date_uploaded }}</dd>
    <dt>Category</dt><dd>{{ object.current_version.category }}</dd>
    <dt>Tags</dt><dd>{% for tag in object.current_version.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% empty %}None{% endfor %}</dd>
</dl>