{% load url from future %}
{% load knowledge_base_tags %}
<dl>
    <dt>Title</dt><dd><a target="_blank" href="{% url 'file_resource_download' pk=fileresource.pk %}">{{ fileresource.title }}</a></dd>
    <dt>Description</dt><dd>{{ fileresource.description }}</dd>
    <dt>Author</dt><dd>{{ fileresource.author.get_full_name }}</dd>
    <dt>Last Updated</dt><dd>{{ fileresource.date_uploaded }}</dd>
    <dt>Category</dt><dd>{{ fileresource.category }}</dd>
    <dt>Tags</dt><dd>{% for tag in fileresource.tags.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% empty %}None{% endfor %}</dd>
</dl>
{% if fileresource|can_edit_resource:user %}
    <p><a href="{% url 'file_resource_update' pk=fileresource.pk %}">Update this resource</a></p>
{% endif %}
{% if fileresource|can_delete_resource:user %}
    <p><a href="{% url 'file_resource_delete' pk=fileresource.pk %}">Delete this resource</a></p>
{% endif %}
{% if fileresource.fileresourcepreviousversion_set.all %}
    <p><a href="{% url 'file_resource_previous_version_list' current_version_pk=fileresource.pk %}">Previous Versions of This Resource</a></p>
{% endif %}