{% extends "base.html" %}
{% load url from future %}
{% block extrahead %}
{# extra style stuff that Pam should remove #}
    <style type="text/css">
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
    .pagination-centered{
        text-align: center;
    }
    .pagination-centered li{
        display: inline;
    }
    h4.reply_count{
        display: inline;
    }
    </style>
{% endblock %}
{% block breadcrumb %}<a href="/en/">Home</a>&raquo; Repository{% endblock %}
{% block content %}
    <div class="nav-collapse collapse submenu">
        <h2>File Resources</h2>
        <ul class="nav nav-tabs ">
            <li {% if resource_upload_view %}class="active"{% endif %}><a href="{% url 'file_resource_create' %}"> Upload a Resource</a></li>
            <li {% if resource_list_view %}class="active"{% endif %}><a href="{% url 'file_resource_list' %}"> View Resources</a></li>
        </ul>
    </div>
    
    <div id="subbody">
        {% if fileresource_list %}
            <form method="GET" action=".">
            <strong>Filter by category</strong>
            {% for field in category_form %}
                {{ field }}
            {% endfor %}
            <button type="submit" class="btn">Filter</button>
            <a href="{% url 'file_resource_list' %}" class="btn">View all</a>
        </form>
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Last Modified</th>
                    <th>Category</th>
                </thead>
                <tbody>
                    {% for fr in fileresource_list %}
                        <tr>
                            <td><a href="{{ fr.get_absolute_url }}">{{ fr.title }}</a></td>
                            <td>{{ fr.author.get_full_name }}</td>
                            <td>{{ fr.date_uploaded }}</td>
                            <td><a href="{% url 'file_resource_list' %}?category={{ fr.category.pk }}">{{ fr.category }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "_pagination_links.html" %}
        {% else %}
            <p>No File Resources in System</p>
        {% endif %}
    </div>
{% endblock %}