{% extends "base.html" %}
{% load url from future %}
{% block breadcrumb %}<a href="/en/">Home</a>&raquo; <a href="{% url 'file_resource_list' %}">Repository</a>
    &raquo; <a href="{{ object.current_version.get_absolute_url }}">File Resource Detail</a> &raquo; Previous Version{% endblock %}
{% block content %}
    <div class="nav-collapse collapse submenu">
        <h2>File Resource</h2>
        {% comment %}
        <ul class="nav nav-tabs ">
            <li {% if resource_upload_view %}class="active"{% endif %}><a href="{% url 'file_resource_create' %}"> Upload a Resource</a></li>
            <li {% if resource_list_view %}class="active"{% endif %}><a href="{% url 'file_resource_list' %}"> View Resources</a></li>
        </ul>
        {% endcomment %}
    </div>

    <div id="subbody">
    {% if form %}
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <div class="help-block">{{ form.non_field_errors }}</div>
            <ul>
                {% for field in form %}
                    <label><strong>{{ field.label }}</strong></label>
                    {{ field }}<div class="help-inline">{{ field.errors }}</div>
                    <div class="dummydivider"></div>
                {% endfor %}
                <input type="submit" class="btn btn-primary"/>
            </ul>
        </form>
    {% else %}
        {% include "_file_resource_previous_version.html" %}
    {% endif %}
    </div>
{% endblock %}