{% extends "base.html" %}
{% load url from future %}
{% block extrahead %}
{# extra style stuff that Pam should remove #}
    <style type="text/css">
    ul{
        list-style-type: none;
        padding-left: 0px;
    }
    .pagination-centered{
        text-align: center;
    }
    .pagination-centered li{
        display: inline;
    }
    h4.reply_count{
        display: inline;
    }
    </style>
{% endblock %}
{% block breadcrumb %}<a href="/en/">Home</a>&raquo; <a href="{% url 'file_resource_list' %}">Repository</a>
    &raquo; <a href="{{ current_version.get_absolute_url }}">Resource Detail</a> &raquo; Previous Versions{% endblock %}
{% block content %}
    <div class="nav-collapse collapse submenu">
        {% comment %}
        <h2>File Resources</h2>
        <ul class="nav nav-tabs ">
            <li {% if resource_upload_view %}class="active"{% endif %}><a href="{% url 'file_resource_create' %}"> Upload a Resource</a></li>
            <li {% if resource_list_view %}class="active"{% endif %}><a href="{% url 'file_resource_list' %}"> View Resources</a></li>
        </ul>
        {% endcomment %}
    </div>
    
    <div id="subbody">
        {% if object_list %}
            <table class="table table-striped table-bordered">
                <thead>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Last Modified</th>
                    <th>Download Link</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for fr in object_list %}
                        <tr>
                            <td><a href="{{ fr.get_absolute_url }}">{{ fr.current_version.title }}</a></td>
                            <td>{{ fr.author.get_full_name }}</td>
                            <td>{{ fr.date_uploaded }}</td>
                            <td><a href="{% url 'file_resource_previous_version_download' current_version_pk=fr.current_version.pk pk=fr.pk %}">Download</a></td>
                            <td><a href="{% url 'file_resource_previous_version_delete' current_version_pk=fr.current_version.pk pk=fr.pk %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "_pagination_links.html" %}
        {% else %}
            <p>No Previous Versions in System. <a href="{{ current_version.get_absolute_url }}">Click here to view the current version</a></p>
        {% endif %}
    </div>
{% endblock %}