{% extends "base.html" %}
{% load url from future %}
{% block breadcrumb %}<a href="/en/">Home</a>&raquo; Repository{% endblock %}
{% block content %}
    <h2 class="bump">Repository</h2>
    <ul>
        <li><a href="{% url 'file_resource_list' %}">Existing Resources</a></li>
        <li><a href="{% url 'file_resource_create' %}">Create a New Resource</a></li>
    </ul>
{% endblock %}