{% extends "base.html" %}
{% load url from future %}
{% block breadcrumb %}<a href="/en/">Home</a>&raquo; <a href="{% url 'file_resource_list' %}">Repository</a> &raquo; Resource Detail{% endblock %}
{% block content %}
    <div class="nav-collapse collapse submenu">
        <h2>Delete File Resource</h2>
    </div>

    <div id="subbody">
        <form enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete {{ object }}?</p>
            <p><input type="submit" value="Delete" class="btn btn-primary"/></p>
        </form>
    </div>
{% endblock %}