<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=9"/>
	    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

	    <title>{% block title %}{% endblock %}Design Example</title>

	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	    {% block style %}
	        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
	    {% endblock style %}
	    {% block extrahead %}{% endblock extrahead %}
	</head>

	<body>
		<div id="outline">

		    {% block header %}
		        <div id="site_header">

		            <div id="site_header_image">
		                <img class="dot" src="{{ STATIC_URL }}images/ou_logo_gray.png" alt="ou logo">
		            </div>
		            <div id="site_header_title">
		                <h1 class="edi_title_text">The University <span class="edi_title_text2">of</span> Oklahoma <br />CCE-IT</h1><br />
		            </div>
		        </div>
		    {% endblock header %}

            {% block content_holder %}

		    <div id="content_holder">
		        <div id="content">
		            {% block content %}
		            <h2>Home</h2>


		            {% endblock content %}
		        </div>
		    </div>
            {% endblock content_holder %}

			<div id="footer_holder">
		        <div id="footer">
		    		{% block footer %}
		                <p><a target="_blank" href="http://www.ou.edu/publicaffairs/WebPolicies/accessstatement.html">ACCESSIBILITY</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.ou.edu/content/sustainability.html">SUSTAINABILITY</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.ou.edu/publicaffairs/WebPolicies/termsofuse.html">TERMS OF USE</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.ou.edu/publicaffairs/WebPolicies/privacypolicy.html">PRIVACY POLICY</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://ouedi.org/contact.html">CONTACT US</a></p>
		                <br />

					{% endblock %}
		        </div>
		    </div>

	    </div>
	</body>

	{% block extra_script %}{% endblock %}
</html>