{% extends "base.html" %}
{% block content %}
    <a href="{% url 'article_form_view' %}">Create Article</a>
    <a href="{% url 'reporter_form_view' %}">Create Reporter</a>
    <a href="{% url 'article_search_form_view' %}">Search Articles</a>
    <form enctype="multipart/form-data" action="" method="{{ method }}">
        {% if method == 'post' %}{% csrf_token %}{% endif %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
    {% for object in objects %}
        {{ object }}
    {% empty %}
        {% if show_results %}No results{% endif %}
    {% endfor %}
{% endblock content %}
